<%- include("../includes/header.ejs") %>

<section class="header">
  <div class="public-user">
    <i class="fa-solid fa-circle-user"></i>
    <p class=""><%= currentUserEmail %></p>
    <p class="">
      <% if (postArr[0].userId.username) { %>
        <p class="premium-username"><%= postArr[0].userId.username %>
          <% if (postArr[0].userId.isPremium) { %>
            <i class="fa-regular fa-star animate__animated animate__rubberBand animate__infinite	infinite"></i>
          <% } %>
        </p>
      <% } else { %>
        <p class="premium-username"><%= postArr[0].userId.username %></p>
      <% } %>
    </p>
  </div>
  <div class="post-container">
    <% for( let post of postArr ) { %>
    <div class="post-box">
      <img class="post-box-img" src="<%= "/" + post.imgUrl %>" alt="<%=
      post.title %>">
      <a href="/post/<%= post._id %>" class="post-title"><%= post.title %></a>
      <p class="post-desc"><%= post.description.substr(0, 150) %></p>
      <hr class="hr" />
    </div>
    <% } %>
  </div>

  <div class="paginate">
    <% if (hasNextPage) { %>
    <a href="/profile/<%= postArr[0].userId._id %>?page=<%= nextPage %>"
      >Next Page <%= nextPage %></a
    >
    <% } %> <% if (hasPreviousPage) { %>
    <a href="/profile/<%= postArr[0].userId._id %>?page=<%= previousPage %>"
      >Previous Page <%= previousPage %></a
    >
    <% } %>
  </div>
</section>

<%- include("../includes/footer.ejs") %>
