<%- include("includes/header.ejs") %>

<section class="details">
  <h1><%= post.title %></h1>
  <a href="/admin/edit/<%= post._id %>" class="btn-full">Edit</a>
  <form action="/admin/delete/<%= post._id %>" method="POST">
    <button>Delete</button>
  </form>
  <img src="<%= post.imgUrl %>" alt="<%= post.title %>" />
  <p><%= post.description %></p>
</section>

<%- include("includes/footer.ejs") %>
