<%- include("includes/header.ejs") %>

<section class="details">
  <div>
    <h1><%= post.title %></h1>
    <a href="/">Go Back</a>
  </div>
  <p class="tmp">Posted by - <%= post.userId.email %></p>
  <% if (date) { %>
  <p class="tmp">Uploaded at - <%= date %></p>
  <% } %> <% if (post.userId._id.toString() === currentLoginUserId.toString()) {
  %>
  <div class="login-div">
    <div>
      <a href="/admin/edit/<%= post._id %>" class="btn-full">Edit</a>
      <form action="/admin/delete/<%= post._id %>" method="POST">
        <button>Delete</button>
      </form>
    </div>
  </div>
  <% } %>
  <img src="<%= post.imgUrl %>" alt="<%= post.title %>" class="det-mg" />
  <hr />
  <p class="desc"><%= post.description %></p>
</section>

<%- include("includes/footer.ejs") %>
