<%- include("includes/header.ejs") %>

<section class="details">
  <div>
    <h1><%= post.title %></h1>
    <a href="/">Go Back</a>
  </div>
  <% if (post.userId.toString() === currentLoginUserId.toString()) { %>
  <div class="login-div">
    <div>
      <a href="/admin/edit/<%= post._id %>" class="btn-full">Edit</a>
      <form action="/admin/delete/<%= post._id %>" method="POST">
        <button>Delete</button>
      </form>
    </div>
  </div>
  <% } %>
  <img src="<%= post.imgUrl %>" alt="<%= post.title %>" class="det-mg" />
  <hr />
  <p class="det-desc"><%= post.description %></p>
</section>

<%- include("includes/footer.ejs") %>
