<%- include("includes/header.ejs") %>

<section class="mx-auto">
  <a href="/">Go back home</a>
  <h1 class="form-title">Edit post here</h1>
  <% if (errorMsg) { %>
  <p class="msg-box"><%= errorMsg %></p>
  <% } %>
  <form method="post" action="/admin/edit-post">
    <input
      type="text"
      value="<%= isValidationFail ? postId : post._id %>"
      name="postId"
      hidden
    />
    <div>
      <label for="title">Enter Title</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= isValidationFail ? oldFormData.title : title %>"
        required
      />
    </div>
    <div>
      <label for="photo">Enter Photo</label>
      <input
        type="text"
        id="photo"
        name="photo"
        value="<%= isValidationFail ? oldFormData.photo : post.imgUrl %>"
        required
      />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
        required
      >
          <%= isValidationFail ? oldFormData.description : post.description %>
      </textarea>
    </div>
    <button>Update Post</button>
  </form>
</section>
<%- include("includes/footer.ejs") %>
